@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;600;700&family=Yellowtail&display=swap');

*,*::after, *::before {
    box-sizing: border-box;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 75%;
}
.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    margin-bottom: 2rem;
    border-bottom: .6px solid black;
   
}
.header__logo{
    font-family: 'Yellowtail';
    font-size: 2.3em;
}
nav {
    width: 30%;
    display: flex;

}

.header-nav__list {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-family: 'Space Grotesk';
}

.header-nav__item > a{
    text-decoration: none;
    font-size: 1.2em;
}

.header-nav__item > a:hover{

    background-color: #05d5d5;
    border-radius: 50%;

}
.header-menu{
    display: flex;
}

button.ui-button {
    border-radius: 12px;
    width: 6em;
    margin-left: 10px;
}

button.ui-button.loginBtn{
    color: black;
    background-color: white;
    border: 1px solid #2894d3;
}

button.ui-button.loginBtn:hover{
    color: white;
    background-color: #2894d3;
    border: 1px solid white;
}

button.ui-button.registerBtn{
    color: white;
    background-color: #2894d3;
    border: 1px solid white;
}

button.ui-button.registerBtn:hover{
    color: black;
    background-color: white;
    border: 1px solid #2894d3;
}


/*CAROUSEL STYLES */
.slider {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 523px;
    margin: auto;
    overflow:hidden;
    position: relative;
    width: 100%;
}
.slider::before,
.slider::after {

    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}
.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
    height: 100%;
}

.slide {
    height: 100%;
    width: 100%;
    display: flex;
}

/* Animation */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
}


.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
}


.about__title, .plan__title, .testimonials__title{
    margin-top: 2rem;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

.about__description, .plan__description, .testimonials__description {
    color: gray;
    font-size: 2rem;
    text-align: center;
    /*    max-width: 800px;*/
}

.about__cards {
    margin-top: 2rem;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
}

.about-card__number {
    color: #1ec28b;
    font-size: 2.3rem;
    font-weight: bold;
}

.about-card__text{
    text-align: center;
    color: gray;
    font-size: 1.3rem;
    margin-top: 10px;
}

.about-card:hover {
    border: 1px solid white;
    box-shadow: -1px 3px 15px -1px rgba(0, 0, 0, 0.53);
    border-radius: 5px;
    background-color: white;
}

/*PLANES */
.plan__trending{
    display: flex;
    justify-content: center;
    margin-top:2rem;
}
.plan-generator{
    width: 100%;
}
.plan-generator-form {
    max-width: 100%;
    display: flex;
    justify-content: space-between;

}
button.ui-button {
    background-color: white;
    color: black;

    /*    width: 100px;*/
    height: 40px;
}

input.ui-inputfield {
    margin-right: 10px !important;
}
.plan-visual {
    margin-top: 2rem;
    width:100%;

}
.planTableHeader {
    padding: 10px;
    
}
.planTable {
    width: 100%;
    box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
}
.planData {
    margin-top:5px;
    text-align: center;
    padding: 10px;
}

/* TESTIMONIALS */
.testimonials-cards {
    width: 70%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.testimonials-card{
    margin-top: 2rem;
    padding: 10px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 12px;
    position: relative;
    -webkit-box-shadow: 2px 11px 7px -2px rgba(179,170,179,1);
    -moz-box-shadow: 2px 11px 7px -2px rgba(179,170,179,1);
    box-shadow: 2px 11px 7px -2px rgba(179,170,179,1);
}
.testimonials-card__image {
    width: 100px;
    border-radius: 50%;
}

.testimonials-card__title {
    font-size: 1.3rem;
    font-weight: bold;
}

.testimonials-card__title::before{
    content: " '' ";
    position: absolute;
    top: -35px;
    left: 228px;
    font-size: 6rem;
    color: #1ec28b;

}

.testimonials__stars {
    width: 100%;
    text-align: center;
}

.testimonials-card__subtitle {
    color: gray;
    font-size: 1.1rem;
}

.testimonials-card__description {
    text-align: center;
    color: gray;
}


.testimonials__stars a {
    font-size: 1em;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
}

.s1 {
    color: gold;
}
.s2 {
    color: gold;
}
.s3 {
    color: gold;
}
.s4 {
    color: gold;
}
.s5 {
    color: gold;
}

.no-star {
    color: rgb(208, 211, 208);
}

/* FOOTER */

.footer {
    padding: 10px 0;
    border-top: 1px solid black;
}
